certifi==2017.7.27.1
chardet==3.0.4
click==6.7
Flask==0.12.2
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
python-bcrypt==0.3.2
requests==2.18.4
safygiphy==1.1.0
twitter==1.17.1
urllib3==1.22
Werkzeug==0.12.2
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
Flask==0.12.2
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
python-bcrypt==0.3.2
requests==2.18.4
safygiphy==1.1.0
SQLAlchemy==1.1.14
twitter==1.17.1
urllib3==1.22
Werkzeug==0.12.2
wikipedia==1.4.0