input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-size: 30px 30px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
}
.checkbox {
  z-index: 0;
}

#term {
  font-size: 16t;
  padding: 5px;
  font-family: sans-serif;
  width: 250px;
}

#predictive-container {
  position: relative;
  overflow: visible;
}

#predictive {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid black;
  width: 250px;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
#predictive,
#predictive > * {
  z-index: 100;

}
#predictive.hidden {
  display: none;
}

.search-suggestion {
  height: 50px;
  display: block;
  width: 100%;
}

.search-suggestion:hover,
.search-suggestion:focus {
  background: dodgerblue;
  color: white;
}
