body {
    padding-top:1.5%;
    padding-bottom: 40px;
}

.jumbotron{
    background: linear-gradient(#96d4ff, #12d0ff);
    padding-top: 13%;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}
.button {
   border-top: 1px solid #96d1f8;
   background: #105c8f;
   background: -webkit-gradient(linear, left top, left bottom, from(#3fcfd4), to(#105c8f));
   background: -webkit-linear-gradient(top, #3fcfd4, #105c8f);
   background: -moz-linear-gradient(top, #3fcfd4, #105c8f);
   background: -ms-linear-gradient(top, #3fcfd4, #105c8f);
   background: -o-linear-gradient(top, #3fcfd4, #105c8f);
   padding: 9px 18px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 17px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #2c6496;
   background: #2c6496;
   color: #f7f2f7;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png');
    background-size: 30px 30px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
}
.fa-search{


}