<link type="text/css" rel="stylesheet" href="static/css/header.css" />
<nav class="header">
    <div class="logo">
        <a class="logo-link" href="/">
            <img
                class="logo-image"
                src="static/images/logo.svg"
                alt="Media Cheetah"
                class="logo-image"
            />
            <span class="logo-text">
                Media Cheetah
            </span>
        </a>
    </div>
    <ul class="nav-list">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login.html">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="signup.html">Sign Up</a>
        </li>
    </ul>
</nav>