<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <base href="/" />
    <!---We can change the title of the site later... just needed something for the time being!-->
    <title>Py-splore the Web with Media Cheetah!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style>
        input[type=text] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png');
            background-size: 30px 30px;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }
        input[type=text]:focus {
            width: 100%;
        }
        .checkbox {
            font-size: pt;
        }
    </style>
</head>
<body style="padding-top:5pt;text-shadow: 2px 1px 2px rgba(150, 150, 150, 0);color: darkslateblue; font-family: 'Raleway', sans-serif; font-weight: 600;
                        font-size: 13pt">
    <div class="container">
            <div class="header" style="background-image: url('https://i.pinimg.com/236x/3d/62/e2/3d62e27177613772d6efa1a5693c2e4d--leopard-print-wallpaper-leopard-spots.jpg');opacity: .8;border:2px solid blanchedalmond;height:70px">
                <nav style="display: flex;flex-flow:row;justify-content:space-between;">
                    <a><img src="https://thumbs.imgbox.com/9f/47/vPTpX89m_t.png" alt="media_Cheetah_SM" style="height: 95px;padding-bottom: 15pt" align="left"/></a></br>
                    <ul class="nav " style="display:flex;flex-flow:row;justify-content:flex-end;width:500px;height:50px;">
                        <!--  found this site, for nav dropdowns .... https://www.w3schools.com/bootstrap/bootstrap_dropdowns.asp!-->
                        <li role="presentation" class="active " style="padding-right:50px;"><a href="/">Home </a></li>
                        <li role="presentation" style="padding-right:50px"><a href="login.html">Sign In </a> </li>
                        <li role="presentation" style="padding-right: 4pt"><a href="signup.html">Sign Up </a> </li>
                    </ul>
                </nav>
                </br>
                </br>
            </div>
        <div class="jumbotron" style=" height: 20px; text-align: center; background-color: transparent;
             background-size:2000px 600px;padding: .001em .001em">
        </div>
        <div class=" row aboutTheCompany" style=" border: 1px solid grey;">
            <div class="col-lg-6">
                <h3 align="left" style="color: black;padding-bottom: 30px;padding-top: 30px; font-size: 24pt" ;> Please enter a search keyword:</h3>
                <h4>Example: cat</h4><br/>
                <form autocomplete="on" action="/search" method="post">
                    <input type="text" name="term" id="term" placeholder="Search.." autofocus><br /><br />
                    <input class="checkbox" type="checkbox" name="services" value="Twitter" />Twitter<br /><br />
                    <input class="checkbox" type="checkbox" name="services" value="Giphy" />Giphy<br /><br />
                    <input class="checkbox" type="checkbox" name="services" value="Flickr" />Flickr<br /><br />
                </form>
            </div>
            <div class="col-lg-6">
                <p>
                    <!---<img src="/static/images/social_media.jpg" alt="Social Media"  style="width:150px;height: 150px">!-->
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB8S1539YeTZmSeaTRmi5Ni3xKRuzFym6uJL-haznmvlCAcgsj" alt="I are programmer"
                        style="width:500px;height: 400px;padding-bottom: 30px;padding-top:30px">
                </p>
            </div>
        </div>
        <br/>
        <div style="padding-left: 130px">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Diamond-caution.svg/600px-Diamond-caution.svg.png" align="left"
                alt="Social Media" style="width:50px;height: 50px;">
            <h3 style="color: #2c6496;font-size: 18pt; padding-left: 80px; "> Please be pacient.</h3>
            <p style="padding-left: 80px; padding-top: 5px"> Every day, we are constantly upgrading and adding more social networks to search through.
            </p>
        </div>
        <div class="results">
            <ul>
                {% for result in results %}
                <li><img src={{result.url}} /></li></li>
                {% endfor %}
            </ul>
        </div>
        <footer class="footer" style="text-align: center; background: whitesmoke;padding-bottom:.2%;padding-top: 10%">
            <p> &copy; Media Cheetah 2017 </p>
        </footer>
    </div>
</body>
</html>