<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <base href="/" />
    <!---We can change the title of the site later... just needed something for the time being!-->
    <title>Py-splore the Web with Media Cheetah!</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/home.css" type="text/css" rel="stylesheet">
    <link href="static/css/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="static/scripts/home.js"></script>

<style>
  #term {
  font-size: 18pt;
  padding: 5px;
  font-family: sans-serif;
  width: 250px;
}

#predictive {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid black;
  width: 250px;
  padding: 5px;
}

#predictive.hidden {
  display: none;
}

.search-suggestion {
  height: 50px;
}

.search-suggestion:hover {
  background: dodgerblue;
  color: white;
  display: block;
  width: 100%;
}
input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    vertical-align: top;
}

.label-text {
  display: inline-block;
    font-size: 40pt;
  width: 200px;
  word-break: break-all;
}
label{
    font-size: 125%
}

</style>
<script>
    function toggle(source) {
  checkboxes = document.getElementsByName('services');
        let i = 0, n = checkboxes.length;
        for(; i<n; i++) {
    checkboxes[i].checked = source.checked;
        }}
  const cheetahMeow = new Audio();
    cheetahMeow.src = url("http://www.kessels.com/CatSounds/lion3.wav");


</script>
</head>
<body style="padding-top:5pt;text-shadow: 2px 1px 2px rgba(150, 150, 150, 0);color: darkslateblue; font-family: 'Raleway', sans-serif; font-weight: 600;
                        font-size: 13pt">
    <div class="container">
        {% include "headerLogged.html" %}
        <div class="jumbotron" style=" height: 20px; text-align: center; background-color: transparent;
             background-size:2000px 600px;padding: .001em .001em">
        </div>
        <div class=" row aboutTheCompany" style=" border: 1px solid grey;">
            <div class="col-lg-6">
                <h3 align="left" style="color: black;padding-bottom: 30px;padding-top: 30px; font-size: 24pt" ;> Please enter a search keyword:</h3>
                <h4>Example: cat</h4><br/>
                <form autocomplete="on" action="/search" method="post">
                    <input type="text" style="font-size: 125%" name="term" id="term" placeholder="search..." autofocus />
                  <div id="predictive" class="hidden">
                  </div>

                   <br /><br />
                    <label >
                       <input class="checkbox" type="checkbox" name="services" value="Twitter"/>
                    Twitter</label><br /><br />
                    <label>
                        <input class="checkbox" type="checkbox" name="services" value="Giphy"/>Giphy</label><br /><br />
                    <label>
                        <input class="checkbox" type="checkbox" name="services" value="Flickr"/>Flickr</label><br />
                    <h2>OR</h2>
                    <label>
                    <input class="checkbox" type="checkbox" name="services" value="SelectAll" onClick="toggle(this)"/>Select All Services</label><br /><br />
                    <button class="button" style="height: 50px; width: 140px;font-size: 125%" onmousedown="cheetahMeow.play();">Search</button>
                </form>
            </div>
            <div class="col-lg-6">
                <p>
                    <!---<img src="/static/images/social_media.jpg" alt="Social Media"  style="width:150px;height: 150px">!-->
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB8S1539YeTZmSeaTRmi5Ni3xKRuzFym6uJL-haznmvlCAcgsj" alt="I are programmer"
                        style="width:500px;height: 450px;padding-bottom: 30px;padding-top:50px">
                </p>
            </div>
        </div>
        <br/>

        <div class="results">
            <ul>
                {% for result in results %}
                <li><span>{{result.text}}</span><br/></li>
                {% endfor %}
            </ul>
        </div>
    <br/><br/><br/>
    <div style="padding-left: 130px">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Diamond-caution.svg/600px-Diamond-caution.svg.png" align="left"
                alt="Social Media" style="width:50px;height: 50px;">
            <h3 style="color: #2c6496;font-size: 18pt; padding-left: 80px; "> Please be patient.</h3>
            <p style="padding-left: 80px; padding-top: 5px"> Every day, we are constantly upgrading and adding more social networks to search through.
            </p>
        </div>
       {% include "footer.html" %}
    </div>

</body>


</html>