<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/" />
        <!---We can change the title of the site later... just needed something for the time being!-->
        <title>Prowl the Web with Media Cheetah</title>

   <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
         <link href="../static/css/style.css" type= "text/css" rel= "stylesheet">
         <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
         <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


    </head>
     <body style="padding-top:5pt;text-shadow: 2px 1px 2px rgba(150, 150, 150, 0);color: darkslateblue; font-family: 'Raleway', sans-serif; font-weight: 600;
                        font-size: 13pt">
    <div class="container">
            <div class="header" style="background-image: url('https://i.pinimg.com/236x/3d/62/e2/3d62e27177613772d6efa1a5693c2e4d--leopard-print-wallpaper-leopard-spots.jpg');opacity: .8;border:2px solid blanchedalmond;height:70px">
                <nav style="display: flex;flex-flow:row;justify-content:space-between;">
                    <a><img src="https://thumbs.imgbox.com/9f/47/vPTpX89m_t.png" alt="media_Cheetah_SM" style="height: 83px;padding-bottom: 15pt" align="left"/></a></br>
                    <ul class="nav " style="display:flex;flex-flow:row;justify-content:flex-end;width:500px;height:50px;padding-top: 18px; padding-right: 15px">
                        <!--  found this site, for nav dropdowns .... https://www.w3schools.com/bootstrap/bootstrap_dropdowns.asp!-->
                        <li role="presentation" class="active " style="padding-right:80px;"><a href="index.html">Home </a></li>
                        <li role="presentation" style="padding-right:80px"><a href="#">Sign In </a> </li>
                        <li role="presentation" style="padding-right: 4pt"><a href="signup.html">Sign Up </a> </li>
                    </ul>
                </nav>


           </div>

            <div class="jumbotron"
                 style=" background: #757F9A;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right,  #1a2980, #26d0ce);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #1a2980, #26d0ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */; padding-top: 13%;
            text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);color: whitesmoke">
                <h1><center style="font-weight:300; font-size: 38pt"> Find your favorite images and information all in one convenient place!</center></h1>
            </br></br>
                <h3><center> Get ready to get wild with Media Cheetah! </center></h3>
                </br>


            </div>

        <div class=" row aboutTheCompany">
            <div class="col-lg-4">


         <img src="https://i.imgur.com/A72TPTs.gif" alt="Social Media"  style="width:350px;height: 200px;padding-left: 7%">
            </div>

            <div class="col-lg-4">

     <form id="login" action="/login" method="post" style="text-align: center; border: black">
                        <h1>Please Sign In</h1>
                        </br>
                        <label for="username" style="font-size: 16pt">Username:</label>
                        <input type="text" id="username" name="username" />
                        </br>
                        <label for="password" style="font-size: 16pt">Password  : </label>
                        <input type="password" id="password" name="password" />
                        </br>
                        </br>
                        <button type="submit" style=" font-size: 16pt ">Sign In</button><br/>
                    <span style="color: red">{{error_text}}</span>
                </form>
                </div>
            <div class="col-lg-4">


         <img src="https://media.giphy.com/media/LZHt0BmSkLLtS/giphy.gif" alt="Social Media"  style="width:350px;height: 200px;padding-left: 7%">
            </div>



      </div>

                <footer class="footer" style="text-align: center; background: whitesmoke;padding-top:10%;">
                    <p><center> &copy; Media Cheetah 2017 </center></p>
                </footer>
            </div>
</div>
 </body>
</html>

